/*--------------------------------------
	Snucbnar - Slider START/STOP
--------------------------------------*/
#sliderStatus {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: rgba(161, 112, 0, 0.5); /* d5 */
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 10;
    font-size: 17px;
    left: 20%;
    bottom: 12px;
  }
  #sliderStatus.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from { bottom: -18px; opacity: 0; }
    to { bottom: 12px; opacity: 1; }
  }
  
  @keyframes fadein {
    from { bottom: -18px; opacity: 0; }
    to { bottom: 12px; opacity: 1; }
  }
  
  @-webkit-keyframes fadeout {
    from { bottom: 12px; opacity: 1; }
    to { bottom: -18px; opacity: 0; }
  }
  
  @keyframes fadeout {
    from { bottom: 12px; opacity: 1; }
    to { bottom: -18px; opacity: 0; }
  }
  
  /*--------- Slider animation ---------*/
  .trans-image {
    /*-webkit-animation-name: imagesTransRL;*/
    -webkit-animation-duration: 1.5s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
  
    /*animation-name: imagesTransRL;*/
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: linear;
    /*animation-delay: 1.5s;*/
  }
  .trans-RL {
    -webkit-animation-name: imagesTransRL;
    animation-name: imagesTransRL;
  }
  .trans-LR {
    -webkit-animation-name: imagesTransLR;
    animation-name: imagesTransLR;
  }
  
  /* Slidex text - translate from right to left */
  @-webkit-keyframes imagesTransRL {
    from {
      opacity: 0.8;
      transform: translate(100%, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes imagesTransRL {
    from {
      opacity: 0.8;
      transform: translate(100%, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  /* Translate from left to right */
  @-webkit-keyframes imagesTransLR {
    from {
      opacity: 0.8;
      transform: translate(-100%, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes imagesTransLR {
    from {
      opacity: 0.8;
      transform: translate(-100%, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .w3-left,
  .w3-right,
  .w3-badge {
    cursor: pointer;
  }
  
  .w3-bottombar {
    /* display: -webkit-inline-box; */
    width: fit-content;
  }
  
  .w3-cell-row .w3-bottombar {
    /*display: -webkit-inline-box;*/
    display: block;
    width: fit-content;
    border-bottom: 6px solid #e19d00;
    margin: 0 auto;
  }
  
  /*------- Images slider --------*/
  .slider-frame {
    /* border: 1px solid red; */
    width: 100%;
    /*margin-top: 75px;*/
    /* height: -webkit-fill-available; */
    height: 350px;
    position: relative;
  }
  .img-slides {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .images {
    position: absolute;
    width: 100%;
    height: 100%;
    /*height: -webkit-fill-available;*/
  }
  
  .slides-text {
    height: fit-content;
    /*---- custom ----*/
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
  
  .nav-buttons {
    width: 100%;
    bottom: 10px;
    z-index: 3;

    /*---- custom ----*/
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
  
  .img-slides .w3-animate-left,
  .w3-animate-left {
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  .img-slides .slides-text .w3-animate-left,
  .img-slides .slides-text .w3-animate-top,
  .slides-text .w3-animate-left,
  .slides-text .w3-animate-top {
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  .img-slides .slides-text .w3-animate-zoom,
  .slides-text .w3-animate-zoom {
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
  }
  .img-slides .w3-display-left,
  .w3-display-left {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }